<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap Navbar Example</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet">
  </head>

  <style>
    body{
      background-color: #0D0D0D;
      margin: 0;
      padding: 0;
      height: 2000px;
      font-family: "Inter", serif;
      overflow-x: hidden;
    }
    .search{
      border-radius: 4cm;
      height: 25px;
      width: 300px;
      font-size: 16px;
      margin-top: 5px;
      
      background-color: #0D0D0D;
      border: white 0.5px solid;
    }
    
    .login{
      margin-top: 5px;
      margin-top: 5px;
      display: flex;
      align-items: center;
      height: 30px;
      justify-content: center;
      background-color: #0d0d0d00;
      border-radius: 4cm;
      border: #00A8FF 1px solid;
      color: #00A8FF;
      font-weight: bold;
      width: 100px;
      
      font-size: 12px;
    }
    
    .custom-link{
      color: #F5F5F5;
    }
    
    .signup{
      margin-top: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 4cm;
      width: 100px;
      font-weight: bold;
      font-size: 12px;
      color: #0D0D0D;
      height: 30px;
      background-color: #00A8FF;
    }

    .grid-container {
      display: none;
      position: absolute;
      left: 50%;
  transform: translate(-50%, -50%);
      grid-template-columns: repeat(12, 75px);
      gap: 15px;
      justify-content: center; /* Centers the grid horizontally */
      padding: 20px;
      max-width: calc(12 * 75px + 11 * 15px); /* Adjust max width to fit the grid */
      margin: 0 auto; /* Centering the grid container */
    }

    .grid-item {
      background-color: #575757;
      height: 1080px; /* Same height as the width */
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 10%;
      text-align: center;
    }

    .hero {
  background-color: #007bbd00; /* Subtle gradient background */
  
  display: flex;
  align-items: center;
}

.hero-title {
  color: #00aeff; /* Bright blue text */
}
/* Light gray text */

.hero .btn-primary {
  background-color: #00aeff;
  border: none;
}
.hero .btn-primary:hover {
  background-color: #007bbd;
}

.quote{
  font-family: "Audiowide", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
}

.description{
  font-size: 14px;
  color: #ccc
}

.action{
  font-size: 14px;
}

section {
      padding: 60px 0;
    }

    

    .article-card {
      background-color: #1a1a1a00;
      border: none;
      
      overflow: hidden;
    }

    .article-card img {
      height: 200px;
      object-fit: cover;
    }

    .article-body {
     
      padding: 15px;
    }

    .tag {
      background-color: #007bbd;
      font-size: 0.65rem;
      padding: 0.5px 20px;
      margin-bottom: 10px;
      border-radius: 0px;
      display: inline-block;
    }

    .article-title-text {
      cursor: pointer;
      font-size:  106%;
      font-weight: bold;
      color: #ccc;
      margin-bottom: 10px;
      transition: 0.2s ease;
    }
    
    

    .main-article{
      width: 24rem;
      
    }
    .main-article-body{
      height: 450px;
    }

    
      
      .media img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        margin-right: 15px;
        border-radius: 5px;
      }
      .article-title {
        text-align: center;
      margin-bottom: 20px;
      color: #ccc;
      font-size: small;
        padding-bottom: 5px;
        font-weight: bold;
        margin: 0;
      }
      .article-title-main {
        text-align: center;
        width: 300px;
      margin-bottom: 20px;
      font-size: 1rem;
      color: #fff;
        font-size: 16px;
        border-bottom: 2px solid #007bff ; /* Change thickness & color */
        padding-bottom: 5px;
        font-weight: bold;
        margin: 0;
      }


      .article-date {
        font-size: 12px;
        color: gray;
      }
      .article-container {
        cursor: pointer;
        padding: 8px 0;
        border-bottom: 1px solid #007bff;
      }


      .container-custom {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 100vh;
     
    }

    .card-custom {
      position: relative;
      width: 250px;
      height: 400px;
      background-color: black;
      overflow: hidden;
      border: none;
    }

    .card-custom img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0.8;
    }

    .card-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      font-size: 1.5rem;
      font-weight: bold;
      text-transform: uppercase;
    }

    .explore-more {
      color: #00A8FF;
      font-size: 2rem;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: center;
    }

  .title-explore-body{
    height: 425px;
  }
  
  .text-about-body{
     height: 425px;
     flex-grow: 1;

   }

   .text-explore{
  font-family: "Audiowide", serif;
  font-weight: 400;
  color: #007bbd;
  font-style: normal;
  font-size: 40px;
}

 .change-order{
  display: flex;
  justify-content: center;
  height: 450px;
 }
    
@media (max-width: 991px){
  .change-order{
    order: 1;
  }
}

.button-join{
  width: 100px;
  background-color: #007bbd;
}


.bg-image-container {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.733), rgba(255, 255, 255, 0.103)), 
              url('backround.png');
  background-size: 110%; /* Cover the container */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent repetition */
  height: 400px; /* Set container height */
  transition: background-size 0.5s ease, transform 0.5s ease; 
  cursor: pointer;/* Smooth scaling transition */
  
}

.main-article:hover .bg-image-container  {
  background-size: 120%;/* Scale the container slightly */
  
}

.main-article:hover .article-title-text {
  color: #007bbd;/* Scale the container slightly */
}

@media (max-width: 767px){
  .bg-image-container{
    background-size: 170%;
  }
  .main-article:hover .bg-image-container {
  background-size: 185%;/* Scale the container slightly */
}
}

@media (max-width: 764px){
  .text-about{
    
    border-bottom: #007bbd solid 1px;
  }
}


.article-container:hover .article-side{
  color: #007bbd;
  border-radius: 0;
}
  

.card-for-you {
  cursor: pointer;
}

.card-for-you:hover .img-target {
  transform: scale(1.1);
}

.card-for-you:hover .article-title-text{
  color: #007bbd;
}

.first-card{
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  height: 500px;
  font-weight: bold;
  font-size: 24px;
  color: #F5F5F5;
  width: 90%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.993), rgba(0, 0, 0, 0)), 
              url('science\ and\ technologies\ trends\ 1.png');
  background-size: 120%;
  transition: 0.5s ease;
}
.second-card{
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  font-weight: bold;
  font-size: 24px;
  width: 90%;
  color: #F5F5F5;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.993), rgba(0, 0, 0, 0)), 
              url('science\ everyday.jpeg');
  background-size: 120%;
  transition: 0.5s ease;
}
.third-card{
  cursor: pointer;
  display: flex;
  width: 90%;
  justify-content: center;
  align-items: center;
  height: 500px;
  font-weight: bold;
  font-size: 24px;
  color: #F5F5F5;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.993), rgba(0, 0, 0, 0)), 
              url('science\ fiction.jpeg');
  background-size: 120%;
  transition:  0.5s ease;
}







.img-hover-card1:hover .first-card{
  color: #007bbd;
  background-size: 130%;
}

.img-hover-card3:hover .third-card{
  color: #007bbd;
  background-size: 130%;
}

.img-hover-card2:hover .second-card{
  color: #007bbd;
  background-size: 130%;
}

.line {
  width: 1px; /* Thickness of the line */
   /* Length of the line */
  background-color: #007bbd; /* Line color */
  transform: scaleX(0.1); /* Make it thinner if needed */
} 

.hero-custom {
    height: 50px; /* Adjust height as needed */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .element{
    width: 900px;
    height: 900px;
    background-color: #007bbd;
    left: 0%;
    transform: rotate(45deg);
    top: 150%;
    opacity: 5%;
    filter: blur(100px);
    position: absolute;
  }
  .element2 {
    filter: blur(10px);
    width: 100px;
    height: 100px;
    transform: translate(250px,50px);
    position: absolute;
    background-color: #007bbd;
  }
  .hero-button{
    background-color: #007bbd;
  }

  .title-container{
    background-color: #007bbd;
  }

  .description-article{
    color: #ccc;
    font-size: 14px;
    font-weight: 300;
  }

  .line-about{
    border-right: #007bbd solid 1px;
    padding-right: 20px; 
  }

  
  .image-container{
    position: relative;
  }
  
  .fit-to-image{
    position: absolute;
    left: 8px;
    top: 85%;
  }
  
  .glow{
    width: 500px; /* Atur ke ukuran tetap */
    height: 80px;
   position: absolute;
    filter: blur(100px);
    opacity: 70%;
    background-color: #007bbd;
    transform: rotate(-55deg);
    
  }
  
  @media (max-width: 991px){
  .line-about{
    border-right: none;
  }
}
  @media (max-width: 600px){
  .glow{
    left: 0%;
    top: 30%;
  }
}


    
  </style>


  <body>

   
   
  
      <div class="container" style="margin-bottom: 100px;">
        <div class="row align-items-center">
          <!-- Illustration -->
          <div class="col-lg-6 order-1 order-lg-2 text-center mb-4 mb-lg-0">
            <img src="/images/Group5(2).png" alt="Hero Illustration" class="img-fluid img-main " >
          </div>
          <!-- Text Content -->
          <div class="col-lg-6 order-2 order-lg-1 text-center text-lg-start">
            <h1 class="display-4 fw-bold quote hero-title">All The Science and Other Included so join</h1>
            <p class="lead description hero-paraghraph">Lorem Ipsum is simply dummy text of the printing and typesetting industry. e printing and typesetting induste printing and typesetting induste printing and typesetting indust</p>
            <a href="#" class="btn btn-primary btn-lg mt-3 action hero-button">Sign Up For Free</a>
          </div>
        </div>
      </div>
    


    <section id="latest-articles" style="padding: 0;">
      <div class="container ">
        <div  style="display:flex ; justify-content: center ; ">
          <h2 class="article-title-main" style="font-size: 24px; margin-bottom: 30px;">LATEST ARTICLE</h2>
        </div>
        <div class="row g-4">
          <!-- Article 1 -->

          
          <div class="col-md-9 col-lg-4 flex-grow-1 main-article  " >
            <div class="card article-card main-article-body bg-image-container justify-content-end  " style="border-radius: 0;">
              <div class="mb-5 ms-4" >
                <span class="tag">Science</span>
                <div class="article-title-text" style="font-size: 1.5rem;"><%- latestArticle[0].title %></div>
                <div><%- latestArticle[0].description %></div>
              </div> 
              
             
              
            </div>
          </div>
          
          <!-- Article 2 -->
          <div class="col-lg d-flex">
            <div class="card article-card flex-grow-1">
              <div class="container text-start">
                <% let condition = latestArticle.length < 3 ? latestArticle.length: latestArticle.length-1
                
                 %>
                <% for( let index = 1; index < condition; index++ ) { %>
                  <a href="http://localhost:3000/article/<%-articleLink1[index]%>" style="text-decoration: none;">
                    <div class="article-container">
                      <div class="d-flex media mb-2 ">
                        <img src="<%-latestArticle[index].image.url%>" alt="Article Image">
                        <div>
                          <p class="article-title text-start article-side"><%-latestArticle[index].title%></p>
                          <span class="tag"><%- latestArticle[index].categories  %></span>
                        </div>
                      </div>
                    </div>
                  </a>
                  
                <% } %>
                </div>
            </div>
          </div>
        </div>
      </div>
          <div class="container container-article">
             <div  style="display:flex ; justify-content: center ; ">
          <h2 class="article-title-main" style="font-size: 24px; margin-bottom: 30px; margin-top: 64px;">FOR YOU</h2>
        </div>
            <div class="row g-4">
              

          <% for( let index = 0; index < generate_article.length; index++ ) { %>

            
              <div class="col-md-6 col-lg-4 pb-5">
                <a href="http://localhost:3000/article/<%-articleLink2[index]%>" style="text-decoration: none;">
                  <div class="card article-card card-for-you " style=" border-radius: 0;">
                    <div class="image-container">
                      <img src="<%- generate_article[index].image.url %>" class="card-img-top img-target" alt="Article Image" style="transition: 0.5s ease;border-radius: 0;">
                      <span class="tag fit-to-image"><%- generate_article[index].categories  %></span>
                    </div>
                      <div class="card-body article-body">
                        <p class="article-title-text"><%- generate_article[index].title %></p>
                        <% let description = generate_article[index].description.length > 88 ? generate_article[index].description.slice(0,88) +"..." : generate_article[index].description  %>
                        <p class="description-article"><%- description %></p>
                      </div>
                  </div>
                </a>
              </div>
            

          <% } %>
        
      </div>
    </section>


    
    <section id="categories">
   
    <div class="container  container-article">
            
          <div class="row  d-flex" style="row-gap: 100px; ">
              
          <!-- Article 3 -->
           
          <a class="col-md-6 col-lg-3 change-order ml-5 img-hover-card1 " style="text-decoration: none;" href="http://localhost:3000/categories/trends=1&limit=6">
            <div class="card article-card first-card" >
              TRENDS
            </div>
          </a>
          <!-- Article 4 -->
          <a class="col-md-6 col-lg-3 change-order img-hover-card2" style="text-decoration: none;" href="http://localhost:3000/categories/science?page=1&limit=6">
            <div class="card article-card second-card " >
              SCIENCE'LIFE
            </div>
          </a>
          <!-- Article 5 -->
          <a class="col-md-6 col-lg-3 change-order img-hover-card3  " style="text-decoration: none;" href="http://localhost:3000/categories/science_fiction?page=1&limit=6">
            <div class="card article-card third-card text-center" >
              SCIENCE FICTION
            </div>
          </a>
          
          <div class="col-md-6 col-lg-3 justify-content-center align-content-center" style=" height: 250px;">
            <div class="card article-card title-explore-body align-items-center justify-content-center" >
             <div class="text-center text-explore" >EXPLORE MORE</div>
            </div>
          </div>
        </div>
      </div>
    </section>


    
  

      <div class="container" style="margin-top: 150px;position: relative; ">

       

        <div class="row align-items-center" style="position: relative;">
          <div class="glow"></div>
          <div class="col-lg-6 order-1 order-lg-1 text-center mb-4 mb-lg-0 pl-5 " >
            <img src="/images/logo6.png" alt="Hero Illustration" class="img-fluid img-main line-about"  >
            
          </div>

          <div class="col-lg-6 order-2 order-lg-2 text-center text-lg-start">
            <div class="text-explore" style="color: #ccc;">EXPLORE MORE</div>
               <div class="text-paraghraph description-article">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nunc massa, imperdiet et purus quis, ultrices sollicitudin metus. Suspendisse a lacinia augue. Sed non condimentum mauris, nec pellentesque ex. Donec ac condimentum dui. Nam dapibus auctor varius. Nam volutpat enim sed neque tristique vehicula. Donec accumsan eu libero eu ultricies. Vestibulum pulvinar id lectus eget accumsan. Praesent ac pulvinar mauris. Suspendisse arcu ante, tristique eu efficitur eu, tempus quis nisi. Curabitur eget lectus quam. Suspendisse eleifend aliquet blandit. Proin nec lorem eu nunc dictum tincidunt non vel orci. Vestibulum auctor vulputate auctor. Fusce ac purus sit amet nisi aliquam ultrices id in arcu.</div>
          </div>
          
        </div>
      </div>
      

        <section class="d-flex vh-100 align-items-center p-0" >
          
          <div></div>

          <div style="width: fit-content;height: 100vh; display: flex; background-color: #007bbd;" >
           
          </div>
          
         
        </section>



       
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  </body>
  </html>
    



    
